:host {
  display: block;
  position: relative;

  --bg-button-hover: #e0e0e0;
  --bg-selected: #007bff;
  --bg-focus: #cfe2ff;
  --bg-dropdown: #f0f2f5;

  --color-disabled: #767676;
  --color-selected: #ffffff;

  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  --item-outline-focused: 2px solid black;
  --dropdown-z-index: 100;

  --border-color: #a0a0a0;
  --border-radius: 8px;

  --max-height: 240px;
}

:host([hidden]) {
  display: none
}

:host([open]) {
  ul {
    display: block;
  }

  .arrow,
  slot[name="arrow"]::slotted(*) {
    rotate: 180deg;
  }
}

:host([disabled]) {
  opacity: 0.6;
  cursor: not-allowed;

  .input-wrapper {
    cursor: not-allowed;
  }

  input {
    cursor: not-allowed;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  /* связано с top у fieldset */
  margin-top: 12px;

  &:focus-within {
    fieldset {
      border-width: 2px;
      border-color: var(--bg-selected);
    }

    legend {
      margin-inline: 0;
      color: var(--bg-selected);
    }
  }
}

input {
  display: block;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
}

fieldset {
  position: absolute;
  inset: 0;
  margin: 0;
  border: 1px solid;
  top: -12px;
  pointer-events: none;
  border-radius: var(--border-radius);
  border-color: var(--border-color);
}

legend {
  margin-inline: 1px;
  font-size: 0.8rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--bg-dropdown);
  position: absolute;
  width: 100%;
  display: none;
  z-index: var(--dropdown-z-index);
  border-radius: var(--border-radius);
  max-height: var(--max-height);
  overflow: auto;
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
}

li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;

  &[aria-selected="true"] {
    background-color: var(--bg-selected);
    color: var(--color-selected);
  }

  &[hidden] {
    display: none;
  }

  &.keyboard-focused {
    background-color: var(--bg-focus);
    outline: var(--item-outline-focused);
  }

  &:hover {
    background-color: var(--bg-button-hover);
  }
}

.arrow,
slot[name="arrow"]::slotted(*) {
  position: absolute;
  right: 0.2rem;
  pointer-events: none;
  transition: rotate .3s;
}