:host {
  display: block;
  position: relative;

  --dropdown-background-color: rgb(117 177 164);
  --item-selected-background-color: orange;
  --item-keyboard-focused-background-color: red;
  --item-hover-background-color: green;
  --item-focused-outline: 1px solid;
  --dropdown-z-index: 100;

  --border-radius: 8px;

  --max-height: 240px;
}

:host([hidden]) {
  display: none
}

:host([open]) {
  ul {
    display: block;
  }

  .arrow {
    rotate: 180deg;
  }
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  /* связано с top у fieldset */
  margin-top: 12px;

  &:focus-within {
    fieldset {
      border-width: 2px;
    }

    legend {
      margin-inline: 0;
    }
  }
}

input {
  display: block;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}

fieldset {
  position: absolute;
  inset: 0;
  margin: 0;
  border: 1px solid;
  top: -12px;
  pointer-events: none;
  border-radius: var(--border-radius);
}

legend {
  margin-inline: 1px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: var(--dropdown-background-color);
  position: absolute;
  width: 100%;
  display: none;
  z-index: var(--dropdown-z-index);
  border-radius: var(--border-radius);
  max-height: var(--max-height);
  overflow: auto;
}

li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;

  &[aria-selected="true"] {
    background-color: var(--item-selected-background-color);
  }

  &[hidden] {
    display: none;
  }

  &.keyboard-focused {
    background-color: var(--item-keyboard-focused-background-color);
    outline: var(--item-focused-outline);
  }

  &:hover {
    background-color: var(--item-hover-background-color);
  }
}

.arrow {
  position: absolute;
  right: 0.2rem;
  pointer-events: none;

  &::after {
    content: "▼";
  }
}