.wrapper {
  display: grid;
  gap: 1rem;
}

.attr-list {
  margin-left: 1rem;
}

custom-autocomplete::part(link) {
  margin-left: auto;
  padding: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-decoration: none;
  color: white;
  background-color: rgb(78, 110, 158);
}

.hero-wiki-link {
  background-color: rgb(78, 110, 158);
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 4px;
  margin-left: auto;
}

custom-autocomplete {
  max-width: 300px;

  a {
    color: white;
  }
}

.component-wrapper-basic {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.example-customizing {
  display: flex;
}
