<nav>
  <ul>
    <li><a href="./pages/page-1/" data-inner-link>Винни</a></li>
    <li><a href="./pages/page-2/" data-inner-link>Пятачок</a></li>
    <li>
      <a href="./pages/page-1/page-1-deeper-page/" data-inner-link>
        Глубоко вложенная страница
      </a>
    </li>
    <li><a href="./pages/dynamic/9999?some_query=9999" data-inner-link>
        Динамическая страница
      </a>
    </li>
    <li><a href="https://mdn.github.io/css-examples/" target="_blank">
        Outer link
      </a>
    </li>
  </ul>
</nav>